// Colors

$primary-color : #67acc0;

// Font Families

$primary-font : 'Roboto', 'Helvetica Neue', sans-serif;
$secondary-font : 'Helvetica Neue', sans-serif;

// Font Sizing

$primary-font-size: 17px;
$secondary-font-size: 15px;
