/* Layout
-------------------------------------------------------------- */

#page {
	flex: 1 0 auto;
}

#secondary {
	display: none;
}

#offcanvas #secondary {
	display: block;
}

#content {
	transition: opacity 0.2s ease;
}

.offcanvas-open #content {
	opacity: .4;
}

.content-area {
	width: 100%;
	background: #fff;
	padding-top: 15px;
}

@media screen and (min-width: 480px ) {

	.site-content {
		padding-bottom: 30px;
		background: none;
	}

	.content-area {
		background: none;
		padding-top: 0;
	}

	.site-main {
		padding: 30px 0;
	}
}

@media screen and (min-width: 880px ) {

	.site-content #secondary-section {
		overflow: hidden;
		width: 28%;
	}

	#secondary {
		display: block;
	}

	#offcanvas #secondary {
		display: none;
	}

}

/* No Sidebar */

.layout-narrow-column .content-area {
	max-width: 790px;
	margin: 0 auto;
}

/* Sidebar Right */

@media screen and (min-width: 880px ) {

	.layout-sidebar-right .content-area {
		float: left;
		margin: 0 -28% 0 0;
	}

	.layout-sidebar-right .site-main {
		margin: 0 28% 0 0;
		padding: 30px 30px 30px 0;
	}

	.layout-sidebar-right .site-content #secondary-section {
		float: right;
		margin: 30px 0;
	}

}

/* Sidebar Left */

@media screen and (min-width: 880px ) {

	.layout-sidebar-left .content-area {
		float: right;
		margin: 0 0 0 -28%;
	}

	.layout-sidebar-left .site-main {
		margin: 0 0 0 28%;
		padding: 30px 0 30px 30px;
	}

	.layout-sidebar-left .site-content #secondary-section {
		float: left;
		margin: 30px 0;
	}

}

/* Modules */

.module,
.posts-navigation {
	background: #fff;
	overflow: hidden;
}

@media screen and (min-width:480px) {

	.col-width {
		max-width:1140px;
		margin: 0 auto;
		padding-right: 30px;
		padding-left: 30px;
	}

	.module,
	.posts-navigation {
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		margin-bottom: 30px;
		border-radius: 2px;
	}

}
