/* Primary Menu
-------------------------------------------------------------- */

.offcanvas-open #wpadminbar,
.sidr-animating #wpadminbar {
	position: fixed;
}

#primary-navigation {

	font-size: 15px;
	font-weight: 500;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding:0;
	}
	li {
		position: relative;
	}
	a {
		padding:15px 20px;
		display: block;
		text-decoration: none;
		color:#555;
	}
	a:hover {
		color: #aaa;
	}

}

@media screen and ( min-width: 1160px ) {

	/* General Desktop Menu Styling */
	#primary-navigation {

		font-weight: 400;

		ul {
			display: block;
		}
		li {
			display: inline-block;
		}
		a {
			display: inline-block;
			padding: 12px;
		}
		.menu-item-has-children > a {
			padding-right:30px;
		}
		.menu-item-has-children > a:after {
			font-family: 'luminate-icons';
			color: #aaa;
			font-size:14px;
			line-height: 1;
			content: '\f0d7';
			position: absolute;
			right: 10px;
			top:50%;
			margin-top:-7px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			cursor: pointer;
		}
		ul ul {
			display: none;
			background: #fff;
			width:220px;
			position: absolute;
			left: 50%;
			top:46px;
			z-index: 99999;
			margin-left: -110px;
			border-radius: 2px;
			text-align: center;
			border: 1px solid rgba(0,0,0,.1);
		}
		ul ul:before {
			position: absolute;
			top: -6px;
			left: 50%;
			margin-left: -3px;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid rgba(0,0,0,.1);
			content: "";
		}
		ul li:hover > ul {
			display: block;
		}
		ul ul li {
			display: block;
			margin:0;
		}
		ul ul a {
			display: block;
			padding:12px 20px;
			border-bottom:1px solid rgba(0,0,0,.1);
		}
		ul ul li:last-child a {
			border-bottom: none;
		}
	}
}

/* Mobile Toggle
-------------------------------------------------------------- */

#primary-navigation {

	.menu-toggle {
		position: absolute;
		right: 30px;
		top: 45px;
		vertical-align: middle;
	}
	.menu-toggle {
		a {
			box-shadow: none;
			border:none;
			display: block;
			padding: 10px 30px 14px 0;
		}
		.toggle,
		.toggle:before,
		.toggle:after {
			transition: all 100ms ease-in-out;
		}
		.toggle,
		.toggle:before,
		.toggle:after {
			cursor: pointer;
			border-radius: 2px;
			height: 3px;
			width: 28px;
			background: #aaa;
			position: absolute;
			display: block;
			content: '';
		}
		.toggle:before {
			top: -8px;
		}
		.toggle:after {
			bottom: -8px;
		}
	}

}

@media screen and ( min-width: 1160px ) {
	#primary-navigation  .menu-toggle {
		display: none;
	}
}

.offcanvas-open #primary-navigation .menu-toggle {
	.toggle {
		background-color: rgba(0, 0, 0, 0);
	}
	.toggle:before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 0;
	}
	.toggle:after {
		-webkit-transform: translateY(-10px) rotate(-45deg);
		transform: translateY(-10px) rotate(-45deg);
		top: 10px;
	}
}

/* Off-Canvas Menu
-------------------------------------------------------------- */

#offcanvas {
	background-color: #fff;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	display: none;
	height: 100%;
	overflow-x: none;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 270px;
	z-index: 999999;
	padding: 20px;
}
#offcanvas.right {
	left: auto;
	right: -280px;
}

#offcanvas {
	.navigation-menu  {
		margin-bottom: 30px;
	}
	.navigation-menu .navigation-button {
		display: none;
	}
	.navigation-menu ul {
		display: block;
	}
	.navigation-menu a {
		padding: 5px 0;
	}
	.navigation-menu ul ul li a:before {
		display: inline-block;
		margin-right: 10px;
		content: '\2014';
	}
}

/* Top Menu and Footer Menu
-------------------------------------------------------------- */

#top-navigation,
#footer-navigation {
	background: #353535;
	color: #ddd;
	font-size: 14px;

	ul {
		display: block;
		margin: 0;
		margin-left: -12px;
	}
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		color: #ddd;
		padding: 12px;
		text-decoration: none;
	}
	a:hover {
		color: #fff;
	}
	.top-navigation-text {
		padding: 12px 0;
		margin-right: -12px;
	}
}

#footer-navigation a {
	padding: 0 12px;
}

@media screen and (max-width:479px) {
	#top-navigation  .col-width {
		padding: 0 6%;
	}
}

@media screen and ( min-width: 680px ) {
	#top-navigation ul {
		float: right;
		max-width: 45%;
		text-align: right;
		margin-left: auto;
		margin-right: -12px;
	}
	#top-navigation .top-navigation-text {
		float: left;
		max-width: 45%;
	}
}

/* Social Icons
-------------------------------------------------------------- */

.navigation-menu .social > a {
	display: inline-block;
}
#page .navigation-menu .social span,
#colophon .navigation-menu .social span {
	margin: 0;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.navigation-menu .social a:before {
	display: inline-block;
	font-family: 'luminate-icons';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#offcanvas .navigation-menu .social a:before {
	margin-right: 10px;
}
.navigation-menu .social a[href*="behance.com"]:before {
	content: '\f1b4';
}
.navigation-menu .social a[href*="dribbble.com"]:before {
	content: '\f17d';
}
.navigation-menu .social a[href*="facebook.com"]:before {
	content: '\f09a';
}
.navigation-menu .social a[href*="flickr.com"]:before {
	content: '\f16e';
}
.navigation-menu .social a[href*="github.com"]:before {
	content: '\f09b';
}
.navigation-menu .social a[href*="linkedin.com"]:before {
	content: '\f0e1';
}
.navigation-menu .social a[href*="pinterest.com"]:before {
	content: '\f0d2';
}
.navigation-menu .social a[href*="plus.google.com"]:before {
	content: '\f0d5';
}
.navigation-menu .social a[href*="instagr.am"]:before,
.navigation-menu .social a[href*="instagram.com"]:before {
	content: '\f16d';
}
.navigation-menu .social a[href*="skype.com"]:before {
	content: '\f17e';
}
.navigation-menu .social a[href*="spotify.com"]:before {
	content: '\f1bc';
}
.navigation-menu .social a[href*="tumblr.com"]:before {
	content: '\f173';
}
.navigation-menu .social a[href*="twitter.com"]:before {
	content: '\f099';
}
.navigation-menu .social a[href*="vimeo.com"]:before {
	content: '\f194';
}