/* Author Meta
--------------------------------------------------------------*/

.author-box {
	background: #fafafa;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	padding:20px;
	min-height: 110px;
}

.author-avatar {
	position: absolute;
	left: 20px;
	top: 20px;

	img {
		border-radius: 50%;
	}
}

.author-description {
	margin-left: 90px;

	h3 {
		font-size: 18px;
		margin-bottom: 5px;
	}
}
