/* Widgets
--------------------------------------------------------------*/

#secondary .widget {
	padding: 15px 30px;
	margin-bottom: 30px;
	font-size: $secondary-font-size;
}

.widget-title {
	color: #333;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

.widget > ul,
.widget > div > ul {
	list-style: none;
	margin-left: 0;
}

#calendar_wrap {
	font-size: 14px;
	overflow-x: scroll;
}

#calendar_wrap th,
#calendar_wrap td {
	padding: 5px;
}

@media screen and (max-width: 881px ) {

	#secondary .widget {
		margin-bottom: 0px;
		padding: 15px 6%;
	}

}

#offcanvas #secondary {

	.module {
		background: none;
		box-shadow: none;
		border-radius: none;
	}

	.widget {
		padding: 0;
	}

	.widget-title {
		font-size: 18px;
	}

}
