/* Elements
--------------------------------------------------------------*/

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1em;
}
ul, ol {
	list-style-position: outside;
	margin: 0 0 1em 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1em;
	width:100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	text-align: left;
}
th {
	font-weight: 500;
}
thead th {
	background: rgba(0,0,0,.05);
}
th, td {
	padding: 5px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
}